/* whole page */

.column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #4F4A45 50%, #6C5F5B 50%);
    background-repeat: repeat;
    color: #F6F1EE;
}

h2 {
    color: #ED7D31;
}

/* Profile Box */
.profile-box {
    padding-top: 40vh;
    text-align: center;
}


.profile-box p {
    font-size: 1rem;
    padding-bottom: 10px;
    margin: 0;
}

.profile-box h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border: black solid 1px;
}

.social-media-icons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media-icons img {
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

/* main box */
.main-box {
    padding-top: 10vh;
    width: 70%;
}

.main-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.main-box h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.main-box p {
    font-size: 1rem;
    padding-bottom: 10px;
    margin: 0;
}

.personal-details {
    margin-left: 10px;
}

.personal-details ul {
    list-style: square;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.personal-details ul li {
    padding-bottom: 5px;
}

.education ul {
    list-style: disc;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.education ul p, .organizations ul p, .projects ul p, .certificates ul p {
    margin-bottom: 10px;
    font-weight: normal;
}

.organizations ul, .projects ul, .work_experience ul {
    list-style: disc;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
}


.main-box a {
    display: block;
    padding: 5px;
    font-size: 1.1rem;
    padding-left: 0;
    width: 100px;
    color: #fff;
}

.certificates ul {
    list-style: square;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
}

.certificates ul li {
    margin-bottom: 10px;
}


/*  utils */
.main-box a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.social-media-icons img:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

/* responsiveness */
@media (max-width: 780px) {
    .column {
        grid-template-columns: 1fr;
    }

    .profile-box {
        padding: 0;
        padding-top: 5rem;
    }

    .main-box {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }

    .personal-details ul, .education ul {
        grid-template-columns: 1fr;
    }

}