/* whole page */

.column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: repeating-linear-gradient(135deg, #222831, #222831 400px, #393E46 400px, #393E46 800px);
    color: #EEEEEE;
}

h2 {
    color: #ed7d31;
}

/* Profile Box */
.profile-box {
    padding-top: 40vh;
    text-align: center;
}

.profile-box p {
    font-size: 1rem;
    padding-bottom: 10px;
    margin: 0;
}

.profile-box h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border: 3px solid black;
}

.social-media-icons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media-icons img {
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

/* main box */
.main-box {
    padding-top: 10vh;
    width: 70%;
}

.main-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

.main-box h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

.main-box p {
    font-size: 1rem;
    padding-bottom: 10px;
    margin: 0;
}

.personal-details,
.education,
.organizations,
.projects,
.work_experience,
.certificates {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #395B64;
    border-radius: 1rem;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}


.personal-details ul {
    list-style: square;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.personal-details ul li {
    padding-bottom: 5px;
    padding-right: 1rem;
}

.education ul {
    list-style: disc;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.education ul p,
.organizations ul p,
.projects ul p,
.certificates ul p {
    margin-bottom: 10px;
    font-weight: normal;
}

.organizations ul,
.projects ul {
    list-style: disc;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
}

.main-box a {
    padding: 5px;
    font-size: 1rem;
    padding-left: 0;
    color: #EEEEEE;
}

.certificates ul {
    list-style: square;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 10px;
}

.certificates ul li {
    margin-bottom: 10px;
}

/*  utils */
.personal-details a:hover, .projects a:hover, .education a:hover {
    font-size: 1.1rem;
    color: #ed7d31;
    cursor: pointer;
    transition: 0.2s;
}

.personal-details a, .projects a, .education a {
    text-decoration: none;
}

.main-box p:hover, .main-box h2:hover, .main-box h3:hover, .main-box h4:hover, .main-box li:hover {
    color: #ed7d31;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.2s;
}

.social-media-icons img:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.personal-details:hover,
.education:hover,
.organizations:hover,
.projects:hover,
.work_experience:hover,
.certificates:hover {
    transform: scale(1.05);
}


/* responsiveness */
@media (max-width: 780px) {
    .column {
        grid-template-columns: 1fr;
    }

    .profile-box {
        padding: 0;
        padding-top: 5rem;
    }

    .main-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
        padding-top: 2rem;
    }

    .personal-details,
    .education,
    .organizations,
    .projects,
    .work_experience,
    .certificates {
        flex-basis: 70%;
        margin: 10px auto;
    }

    .personal-details ul,
    .education ul {
        grid-template-columns: 1fr;
    }
}